body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contenedor .subcontenedor{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.contenedor .subcontenedor .encabezado{
    display: flex;
    align-items: center;
    justify-content: left;
}

.contenedor .subcontenedor .encabezado img{
    width: 120px;
}

.contenedor .subcontenedor .encabezado .texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor .subcontenedor .encabezado .texto .titulo{
    font-weight: bolder;
}

.contenedor .subcontenedor .actions{
    display: flex;
    justify-content: end;
    gap: 10px;
}

.contenedor .subcontenedor .actions button{
    padding: 10px;
    width: 100px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}

.contenedor .subcontenedor .actions .btn-download{
    background-color: rgba(4, 46, 237, 0.773);
    color: white;
}

.contenedor .subcontenedor .actions .btn-back{
    background-color: white;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.159);
    border-width: 1px;
}

.contenedor .subcontenedor .actions .btn-download:hover{
    background-color: rgb(4, 47, 237);
    cursor: pointer;
}

.contenedor .subcontenedor .actions .btn-back:hover{
    background-color: rgba(234, 234, 234, 0.549);
    cursor: pointer;
}

@media (max-width:600px){
    .contenedor .subcontenedor .actions{
        flex-direction: column;
        align-items: center;
    }

    .contenedor .subcontenedor .actions button{
        width: 80%;
        height: 45px;
    }
}