body{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.contenedor{
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.contenedor .subcontenedor{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.contenedor .subcontenedor .encabezado{
    display: flex;
    align-items: center;
    justify-content: left;
}

.contenedor .subcontenedor .encabezado img{
    width: 120px;
}

.contenedor .subcontenedor .encabezado .texto{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedor .subcontenedor .encabezado .texto .titulo{
    font-weight: bolder;
}